<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header class="bg-dark text-white py-5">
        <div class="container">
            <h1 class="display-4">Forum</h1>
        </div>
    </header>

    <main class="container mt-4">
        <%= body %>
    </main>
    <footer class="bg-dark text-white text-center py-3 border-top">
        <div class="container">
            <p class="mb-0 text-muted">Made by Marco Gavel - <a href="https://github.com/MarcoGavel" class="text-white">GitHub</a></p>
        </div>
    </footer>
    
</body>
</html>
